body {
  background: url(/Images/blob2.svg) center center no-repeat;
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
}

.img1 {
  width: 300px;
  right: 50px;
  top: 50px;
  position: absolute;
}
.img3 {
  width: 300px;
  left: 100px;
  bottom: 100px;
  position: relative;
}

#temperature {
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-left: thick solid black;
  padding: 1rem;
}

.card {
  margin-top: 7rem;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}
h2 {
  color: black;
  margin: 1rem;
}
#CurrentWeather {
  margin: 1rem;
}

#Joke {
  color: white;
  margin: 2rem;
}
.votacion > img {
  width: 100px;
  margin: 15px;
}
.votacion > img:hover {
  width: 98px;
}

input {
  background-color: #edc951;
  color: black;
  padding: 15px 30px;
  border: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 12px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2rem;
  text-transform: uppercase;
}
input:hover {
  background-color: black;
  color: #edc951;
  border-color: #edc951;
}
#errorVotacion {
  display: none;
  color: red;
  margin: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.weather {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}